* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header .top_header {
    background-color: #334fb4;
    color: #ffff;
}


header .main_header {
    display: flex;
    justify-content: space-around;
}

header .main_header .nav1 {
    display: flex;
    margin-left: -30px;
}

header .main_header .nav1 .active {
    color: black;
    font-weight: 600;
    border-bottom: 1px solid black;
}

header .main_header .nav1 .active:hover {
    border-bottom: 3px solid black;
}

header .main_header .nav1 a {
    color: rgb(61, 61, 61);
    margin: 40px 15px;
    font-weight: 500;
}

header .main_header .nav1 a:hover {
    color: black;
    border-bottom: 1px solid black;
}

header .main_header .nav2 img {
    width: 100px;
    margin: 25px 0 25px -140px;
}

header .main_header .nav3 a i {
    color: black;
    margin: 40px 10px;
}

header .main_header .nav3 a i:hover {
    transform: scale(1.1);
    transition: all 0.1s ease;
}